.page-baloons {

  width:100%;
  height:100%;
  /*
  !* app colors*!
  $turquoise-light-color: #2CC0B2;
  $turquoise-mid-color: #118690;
  $blue-light-color: #2978B0;
  $blue-mid-color: #212660;
  $yellow-color: #FFC70D;
  $orange-color: #F09700;
  $red-color: #FF3600;
  $pink-color: #E44885;
  $purple-color: #7750AD;
  $green-light-color: #9EC93B;
  $green-mid-color: #2B8D04;
  $black-color: #1A0A15;
  */



  /* Sass Arrays and Mixins */
  $colors: $turquoise-light-color, $yellow-color, $green-mid-color, $pink-color, $orange-color, $purple-color, $red-color;

  @mixin browsers($info) {
    animation: $info;
    -webkit-animation: $info;
    -moz-animation: $info;
    -ms-animation: $info;
    -o-animation: $info;
  }

  .balloons{
    margin-right:20px;
    margin-left:20px;
    height: 100%;
    width: 100%;
    position: absolute;
  }


  .balloon{
    border-radius: 50%  50%  50%  50%  / 40%  40% 60% 60%;
    display: block;

    opacity: 0.8;
    position: absolute;

    &:after {
      border-left: 5px solid transparent;
      border-right: 5px solid transparent;
      bottom: -5px;
      content: "";
      height: 0;
      left: 45%;
      position: absolute;
      width: 0;
    }
  }

  @for $i from 0 through 99{
    $the-color: nth($colors, random(length($colors)));
    $dim: (random(50) + 50);
    .balloon#{$i}{
      height: ($dim + 12)+px;
      width: $dim+px;
      $speed: random(15) + 7 + s;
      $delay: - (random(50) + 50 + s);
      background-color: $the-color;
      left: random(85) + 0%;
      @include browsers(flyingBalloon $speed $delay linear infinite);
      &:after{
        border-bottom: 10px solid $the-color;
      }
    }
  }

  @-webkit-keyframes flyingBalloon{
    from { bottom:-20%; }
    to { bottom:110%; }
  }

  @-moz-keyframes flyingBalloon{
    from { bottom:-20%; }
    to { bottom:110%; }
  }

  @-ms-keyframes flyingBalloon{
    from { bottom:-20%; }
    to { bottom:110%; }
  }

  @-o-keyframes flyingBalloon{
    from { bottom:-20%; }
    to { bottom:110%; }
  }

  @keyframes flyingBalloon{
    from { bottom:-20%; }
    to { bottom:110%; }
  }


}
